@import 'colors';

body {
	background: url(../images/peerapong.jpg) no-repeat fixed center;
	background-size: auto;
}

nav, .displayTitle {
	font-family: $appFont;
}

#googleButton {
	background: url(./images/google-sign-in.png);
	width: 33%;
	height: 10%;
	// border: 2.5px solid #4688f1;
	border-radius: 5px;

	&:hover {
		box-shadow: $boxShadow;
	}
}

.displayTitle {
	color: white;
}

#googleButton {
	padding: 0;
}

#seachDiv {
	padding-bottom: 10px;
}